<!--头部-->

<header class="container">
    <div class="row">
        <div class="logo col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="index.html">
                <img src="img/logo.png" alt=""/>
            </a>

        </div>


        <div class="search col-lg-6 col-md-6 col-sm-6 hidden-xs text-center">
            <div class="searchDiv">
                <input type="text" placeholder="输入关键字" class="searchText"/>
                <span class="glyphicon glyphicon-search searchBtn"></span>
            </div>

        </div>

        <div class="user col-lg-3 col-md-3 col-sm-3 col-xs-6 text-right">
            <a href="login.html">登录</a>
            <span> / </span>
            <a href="register.html">注册</a>


        </div>
    </div>
</header>

<!--导航-->
<nav class="container-fluid">
    <ul class="text-center row col-lg-12 col-md-12 col-sm-12">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="videotype.html">动漫分类</a>
        </li>
        <li>
            <a href="videotype.html">日本新番</a>
        </li>
        <li>
            <a href="videotype.html">完结动画</a>
        </li>
        <li>
            <a href="videotype.html">热血</a>
        </li>
        <li>
            <a href="pictures.html">美图</a>
        </li>
        <li>
            <a href="">活动</a>
        </li>
        <li>
            <a href="contact.html">联系我们</a>
        </li>
        <li>
            <a href="">充值</a>
        </li>
    </ul>
</nav>

