<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/manger.css"/>
</head>
<body>
<div>你好，管理员<span class="manger"></span>
    <a href="index.html" class="loginOut"> 注销</a>
</div>

<div>
    <ul class="type">
        <li class="typeSon typeVideo">视频</li>
        <li class="typeSon typePic">图片</li>
    </ul>
</div>
<div><div class="up"><a href="up.html">上传</a></div></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <ul CLASS="videoUl">
                <li>
                    <video src="video/DJSSG1.MP4"></video>
                    <span>m465646</span>
                    <a href="">东京食尸鬼</a>
                    <span>aaaaaa</span>
                    <span class="glyphicon glyphicon-trash delete"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 picDiv">
            <div>
                <img src="img/picture/gaoxiao.jpg" alt="" />
                <span class="deletePic">X</span>
            </div>
        </div>
    </div>

</div>

<script src="js/jquery-1.11.3.js"></script>
<script src="js/manger.js"></script>
</body>
</html>