<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>视频分类</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/header1.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/videotype.css"/>
</head>
<body>
<%-include("header1.ejs")%>



<div class=" container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="type">
                <li>
                    <p>类型:</p>
                </li>
                <li>
                    <a href="">亲子</a>
                </li>
                <li>
                    <a href="">热血</a>
                </li>
                <li>
                    <a href="">搞笑</a>
                </li>
                <li>
                    <a href="">恐怖</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<section class="result">
    <div class="content">
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/chunqingluomenshi.jpg" alt=""/>
                <p class="name">纯情罗曼史</p>
            </a>
            <p>面瘫气人</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/daerduotutu.jpg" alt=""/>
                <p class="name">大耳朵图图</p>
            </a>

            <p>国民机智小淘气</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/datouerzi.jpg" alt=""/>
                <p class="name">大头儿子小头爸爸</p>
            </a>

            <p>家庭亲子剧</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/duola.jpg" alt=""/>
                <p class="name">爱探险的朵拉</p>
            </a>

            <p>少儿教学互动</p>

        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/mingzhent.jpg" alt=""/>
                <p class="name">名侦探柯南</p>
            </a>

            <p>少年侦探</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/minitegong.jpg" alt=""/>
                <p class="name">迷你特工队</p>
            </a>

            <p>最强战士锄强扶弱</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/qilongzhu.jpg" alt=""/>
                <p class="name">七龙珠</p>
            </a>

            <p>赛亚人保护地球</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/qilongzhuZ.jpg" alt=""/>
                <p class="name">七龙珠Z</p>
            </a>

            <p>勇士集结保护地球</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/shaonianhaike.jpg" alt=""/>
                <p class="name">少年骇客</p>
            </a>

            <p>少年英雄外星对决</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/shiwange.jpg" alt=""/>
                <p class="name">十万个冷笑话</p>
            </a>

            <p>国产日和吐槽神作</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/shixiong.jpg" alt=""/>
                <p class="name">尸兄</p>
            </a>

            <p>丧尸来袭爆笑冒险</p>
        </div>
        <div>
            <a href="video.html" data-video="DJSSG"><img src="img/result/tuxiaobei.jpg" alt=""/>
                <p class="name">兔小贝儿歌</p>
            </a>

            <p>经典儿歌寓教于乐</p>
        </div>
    </div>

</section>


<%-include("footer.ejs")%>

<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/header1.js"></script>
<script src="js/videotype.js"></script>
</body>
</html>