.title{
    width: 80%;
    margin: 0 auto;
}
.title a{
    color: blue;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    float: right;
}
.title a:hover{
     text-decoration: underline;
}
.title a:first-child{
    float: none;
}
.content{
    width: 80%;
    height: 500px;
    border: 1px solid gray;
    margin: 0 auto;
}
table{
    margin: 100px auto;
    
}
input{
    font-size: 16px;
    padding: 5px 0 5px 2px;
}
.getCode{
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}
.resetPass{
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    color: white;
    background-color: #f19c00;
    border: none;
    outline: none;
    border-radius: 3px;
}
.resetPass:hover{
    background-color: orange;
}

.remain{
    color:red;
}
